/*------------------------------------------------------------------*/ 
/*	3) Note: Design for a width of 320 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 200px) and (max-width: 479px){

/*------------------------------------------------------------------*/ 
/*	1) Header
/*------------------------------------------------------------------*/

	
.header-title span{
	font-size:25px;
	line-height:49px;
}
.header-title a.enter{
	margin:1px auto;
	width:150px;
	font-size:15px;
}
.logo{
	text-align:center;
	margin:0 0 10px 0;	
}
/*#sa span{
	display:none;
} */

.bg-mask h2{
	margin:180px 0;
	font-size:22px;
}
.bg-mask h2 span{
	padding:10px 20px;
}
.title-white h1{
	font-size:60px;
}
/*------------------------------------------------------------------*/ 
/*	2) Nav
/*------------------------------------------------------------------*/
#nav ul.menu{
	margin:13px 0 0 0;
}
#nav ul.menu li{
	margin:2px 5px 0 0;
	font-size:12px;
}
#nav ul.social{
	display:none;
}
#nav select.menu{
	display:block;
}

/*------------------------------------------------------------------*/ 
/*	3) Contact
/*------------------------------------------------------------------*/
.map{
	width:280px;
	margin-left:0;
	height:250px;
}
.input-section input, .input-section textarea{
	width:278px;
}
.input-section a.send{
	width:280px;
}
}