/*------------------------------------------------------------------*/ 
/*	1) Note: Design for a width of 768 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
/*------------------------------------------------------------------*/ 
/*	1) Header
/*------------------------------------------------------------------*/
.header-title span{
	font-size:50px;
	line-height:78px; 
}
.header-title a.enter{
	margin:15px auto;
	width:150px;
	font-size:15px;
}
.logo{
	text-align:center;
	margin:0 0 10px 0;	
}

/*#sa span{
	display:none;
} */

/*------------------------------------------------------------------*/ 
/*	2) Nav
/*------------------------------------------------------------------*/
#nav ul.menu li{
	margin:0 15px 0 0;
}

/*------------------------------------------------------------------*/ 
/*	3) Work
/*------------------------------------------------------------------*/
.view-item{
	width:216px;
	height:150px;
}
.view-item a.info {
   margin:65px 0 0 100px;
}

/*------------------------------------------------------------------*/ 
/*	3) Contact
/*------------------------------------------------------------------*/
.map{
	width:728px;
}
.input-section input, .input-section textarea{
	width:342px;
}
.input-section a.send{
	width:344px;
}
}